.map
  &--full-screen
    position absolute
    top 0
    bottom 0
    right 0
    left 0
  .tooltip
      width 100px
      position absolute
      border 1px solid #7EABCD
      background-color white
      padding 5px
      font-size 9pt
      z-index 9999
      border-radius 4px
      opacity 1
