@require 'vars'

.sidebar
  width $sidebar--width
  overflow-y auto
  overflow-x hidden
  position absolute
  left $container--margin
  top $top--margin
  bottom $container--margin
  font-size 13px
  &--padding
    padding 10px
    width $sidebar--width
    margin -1px
  &--border-grey
    border 1px solid $border--grey
